@import '../../style/mixin.less';
.wrapper{
    &>li:first-child{
        height: 50px;
        line-height: 50px;
        text-align: center;
        font-size: @font-size-md;
        .real1px(x, top, x, bottom);
    }
    &>li:last-child{
        font-size: @font-size-sm;
    }
}