@hd: 1px; // 基本单位

// 移动端设备最大最小宽度
@minWidth: 320px; // iphone5/SE
@maxWidth: 1024px; // ipad pro

// 字体
@font-size-xs: 12 * @hd;
@font-size-sm: 14 * @hd;
@font-size-md: 16 * @hd;
@font-size-lg: 18 * @hd;
@font-size-xl: 20 * @hd;

@font-size-text-sm: 12 * @hd;
@font-size-text-md: 13 * @hd;
@font-size-text-lg: 15 * @hd;
@font-size-text-hg: 17 * @hd;
@font-size-normal-sm: 14 * @hd;
@font-size-normal-md: 15 * @hd;
@font-size-normal-lg: 17 * @hd;
@font-size-normal-hg: 19 * @hd;
@font-size-title-sm: 16 * @hd;
@font-size-title-md: 17 * @hd;
@font-size-title-lg: 19 * @hd;
@font-size-title-hg: 21 * @hd;
@font-size-high-sm: 18 * @hd;
@font-size-high-md: 19 * @hd;
@font-size-high-lg: 20 * @hd;
@font-size-high-hg: 22 * @hd;

// 主题类 -- 黑 白 红 灰
@black: #434343;
@blobBlack: #1e1e1e;
@white: #FFF;
@red: #FF5656;
@grey: #afafaf;
@colorGrey: #999;
@shallowGrey: #dadada;
@bgGrey: #F5F5F5;
@borderGrey: #F1F1F1;
// 特殊类
@pink: #FCC;
@blue: #34A5EA;
@blobBlue: #0066CC;
@green: #2FCE31;
@blodGreen: #26C392;
@yellow: #FFCC33;
@orange: #FF953C;

.fontSize(@which: text){ // text normal title high
    @var-sm: "font-size-@{which}-sm";
    @var-md: "font-size-@{which}-md";
    @var-lg: "font-size-@{which}-lg";
    @var-hg: "font-size-@{which}-hg";
    @media screen and (max-width: 320px){ /*小*/
        font-size: @@var-sm
    }
    @media screen and (min-width: 321px) and (max-width: 400px){ /*中*/
        font-size: @@var-md
    }
    @media screen and (min-width: 401px) and (max-width: 767px){ /*大*/
        font-size: @@var-lg
    }
    @media screen and (min-width: 768px){ /*超大 ipad*/
        font-size: @@var-hg
    }
}

.oneRowOverflowOmit(){ // 单行超出省略
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.whichRowsOverflowOmit(@row: 2){ // 单行到多行超出省略 兼容性一般 适用移动端
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: @row;
}

/**
@beforeDirection: x|y|unset
@beforePos: top|right|bottom|left|unset(不渲染before)
@afterDirection: x|y|unset
@afterPos: top|right|bottom|left|unset(不渲染after)
@type: solid|dashed|dotted
@color: any
**/
.real1px(@beforeDirection: x, @beforePos: unset, @afterDirection: y, @afterPos: unset, @type: solid, @bgColor: @borderGrey){
    position: relative;
    &:before,&:after{
        content: '';
        position: absolute;
        z-index: 1;
    }
    .whichStyle(@direction, @position){
        & when (@direction = x){
            left: 0;
            right: 0;
            width: 100%;
            height: 1px;
            background-color: @bgColor;
        }
        & when (@direction = y){
            top: 0;
            bottom: 0;
            width: 1px;
            height: 100%;
            background-color: @bgColor;
        }
        @{position}: 0;
        & when (@position = unset){
            display: none;
        }
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx){
            & when (@direction = x){
                transform: scaleY(0.5)
            }
            & when (@direction = y){
                transform: scaleX(0.5)
            }
        }
        @media (-webkit-min-device-pixel-ratio: 3), (min-resolution: 3dppx){
            & when (@direction = x){
                transform: scaleY(0.33)
            }
            & when (@direction = y){
                transform: scaleX(0.33)
            }
        }
    }
    &:before{
        .whichStyle(@beforeDirection, @beforePos);
    }
    &:after{
        .whichStyle(@afterDirection, @afterPos);
    }
}

// 清除浮动
.clearBoth(){
    &::after{
        content: '';
        display: block;
        clear: both;
    }
}