@import '../../../../style/mixin.less';
.wrapper{
    height: 100%;
    background-color: @bgGrey;
    display: flex;
    flex-direction: column;
    height: 100%;
    .pjBody{
        flex:1;
        overflow-y:auto;
    }
   
}
.scheduleServe{
    background: #f2f2f2;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.serveDetail{
    background: #f2f2f2;
    display: flex;
    flex-direction: column;
    height: 100%;
    .f2f2f2{
        background: #f2f2f2;
    }
    .pagination{
        position: fixed;
        top: 50%;
        width: 100%;
    }
    .serveDetailBody{
        overflow-y:auto;
        height: 100%;
    }
}
.desc{
    color:#ccc;
    font-style: 14px;
    margin-left: 16px;
    .people{
        color:#000;
        font-size: 14px;
    }
    .tips{
        color: #ff953c;
        font-size: 14px;
    }
}
.header{
    margin-bottom: 4px;
}
.body{
    background: #fff;
    padding: 8px 16px;
    flex:1;
    overflow-y: auto;
    height: 100%;
    .title{
        width: 200%;
        .text{
            width: 80px;
            float: left;
            margin-left: 16px;
        }
        .btnBox{
            width: 40%;
            float: left;
        }
        .btn{
            float: left;
            color:#FF4463;
            font-weight: normal;
            border:1px solid #FF4463;
            margin-right: 4px;
            padding: 0 8px;
            border-radius: 50px ;
        }
        .yelBtn{
            color:#f90;
            border:1px solid #f90;
        }
    }
  
}


.checkIcon{
    color: #349ce1;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #ccc;
    overflow: hidden;
    align-content: center;
    line-height: 20px;
    display: inline-block;
    margin-right: 3%;
    margin-left: 5%;
}
.labels{
    :global(label){
        width: 40%;
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
.historyTop{
    background: #fff;
    padding: 8px 0;
    padding-left: 16px;
    .icon{
        color: #dadada;
        font-weight: normal;
        margin-top: -8px;
        font-size: @font-size-md;
    }
}

.mt_16{
    margin-top: 16px;
}
.mt_2{
    margin-top: 2px;
}
.detailFooter{
    text-align: center;
    background: #ff953c;
    line-height: 3;
    color: #fff;
    width: 100%;
    height: 48px;
    z-index: 100;
}
.iconImg{
    width: 100% !important;
    height: auto !important;
    min-height: 75px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 1px solid #ccc;
    padding: 4px;
    overflow: hidden;
}
.overallView{
    width:64%;
    height:40px;
    line-height:40px;
    color:#fff;
    background: #706a64;
    text-align:center;
    opacity:0.3;
}

.nothing{
    text-align: center;
    padding-top: 30%;
    color:#999;
    font-size: 24px;
    background: #fff;
}
.nameless{
    display: flex;
    justify-content: center;
    margin: 8px 0;
  }