@import '../../style/mixin.less';
.wrapper{
    height: 100%;
    display: flex;
    flex-direction: column;
    .list_wrapper{
        display: flex;
        flex-wrap: wrap;
        padding: 7px;
        background-color: @bgGrey;
        .list_row_wrapper{
            width: 49%;
            background-color: @white;
            margin-bottom: 10px;
            &>div:first-child{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 4.5rem;
                .real1px(x, bottom);
                max-height: 500px;
                &>img{
                    display: block;
                    width: 80%;
                    height: 80%;
                }
            }
            &>div:last-child{
                .fontSize(normal);
                padding: 4px 8px;
                .whichRowsOverflowOmit();
            }
        }
    }
}
.tabs_content{
    padding: 20px 0 20px 20px;
    &>li{
        display: inline-block;
        vertical-align: top;
        width: 25%;
        padding: 10px 0;
        text-align: center;
        margin-right: 8.333%;
        margin-bottom: 15px;
        border: 1px solid @borderGrey;
        .oneRowOverflowOmit();
    }
    .active{
        border-color: @red;
        color: @red;
    }
}