@import '../../../style/mixin.less';
.grade_wrapper{
    position: relative;
    padding: 20px 15px;
    text-align: center;
    :global(.iconfont){
        position: absolute;
        top: 10px;
        right: 15px;
    }
    &_avator{
        display: inline-block;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: @bgGrey;
        &>img{
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }
    }
    &_name{
        .fontSize(high);
    }
    &_tip{
        padding: 2px;
        border-radius: 4px;
        background-color: @red;
        color: @white;
        .fontSize(text);
    }
}
.power{
    &_title{
        .fontSize(title);
    }
    &_content{
        display: flex;
        flex-wrap: wrap;
        &_item{
            flex: 0 0 33.3%;
            text-align: center;
            margin-bottom: 12px;
            &_thumb{
                width: 50px;
                height: 50px;
            }
            &_title{
                .fontSize(normal);
            }
            &_extra{
                .fontSize(text);
                color: @red;
            }
        }
    }
}