@import '../../style/mixin.less';
.wrapper{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    min-width: @minWidth;
    max-width: @maxWidth;
    margin: auto;
    overflow: hidden auto;
    background-color: @white;
}