@import '../../../style/mixin.less';
.content {
    padding-bottom: 50px;
    .title {
        flex: 1;
        .whichRowsOverflowOmit(2)
    }
    .info {
        .fontSize(text);
        &_des {
            color: @grey;
            padding-bottom: 15px;
            .real1px(unset, unset, x, bottom);
        }
    }
}