@import '../../../style/mixin.less';
.wrapper{
    height: 100%;
    display: flex;
    flex-direction: column;
    &_container{
        flex: 1;
        overflow: auto;
    }
    &_title{
        flex: 1;
        .whichRowsOverflowOmit(2)
    }
    &_info{
        .fontSize(text);
        &_des{
            color: @grey;
            padding-bottom: 15px;
            .real1px(unset,unset, x, bottom);
        }
    }
}