
.nothing{
    text-align: center;
    padding-top: 30%;
    color:#999;
    font-size: 24px;
    background: #fff;
}
.reserve{
    background: #f2f2f2;
    overflow: hidden;
    padding-top: 52px;
}
.myorder{
    background: #f2f2f2;
    overflow: hidden;
}
.header{
    position: fixed;
    left: 0;top: 0;
    width: 100%;
    z-index: 100;
}
.footer{
    position: fixed;
    left: 0;bottom: 0;
    width: 100%;
    z-index: 100;
    height: 48px;
    background: #f2f2f2;
  
   &>:global(div){
       position: absolute;
       right: 0;
       top: 20%;
   }
   :global(.am-button){
       padding: 0 8px;
   }
}
.historyTop{
    background: #fff;
    padding: 8px 0;
    padding-left: 16px;
    font-size: 16px;
    .icon{
        color: #999;
        font-weight: normal;
        width: 60px;
        margin-top: -8px;
    }
}
.orderList{
  
   .hisItem{
       background-color: #fff;
       padding: 8px 16px;
       margin-bottom: 1px;
   }
   
   .checkIcon{
       color: #29d632;
       width: 24px;
       height: 24px;
       border-radius: 50%;
       border: 1px solid #ccc;
       overflow: hidden;
       align-content: center;
       line-height: 24px;
   }
}


.mb_8{
    margin-bottom: 8px;
}

.mb16{
    margin-bottom: 16px;
}
.feiyo{
    overflow: hidden;
}
.feiyoItem{
    float: left;
    width: 33%;
    text-align: center;
}


.fs14{
    font-size: 14px;
}
.redC{
    color:#ff1f00;
}
.desc{
    color:#ccc;
    font-style: 14px;
    overflow: hidden;
    .people{
        color:#666;
        font-size: 14px;
      
    }
    .tips{
        color: #ff953c;
        font-size: 14px;
    }
   
    :global(label){
        display: inline-block;
        width: 15%;
        float: left;
    }
}
.Handle{
    background: #4dd64d;
    color: #fff;
    display: inline-block;
    padding:0 2px;
    font-size: 12px;
    line-height: 18px;
    margin-right: 8px;
}  