@import '../mixin.less';
:global(.oneRowOverflowOmit){ // 单行超出省略 宽度可追溯 百分比|固定
    .oneRowOverflowOmit()
}
:global(.oneRowsOverflowOmit){ // 单行超出省略 处于flex布局下 宽度不可追溯
    .whichRowsOverflowOmit(1)
}
:global(.twoRowsOverflowOmit){
    .whichRowsOverflowOmit()
}
:global(.threeRowsOverflowOmit){
    .whichRowsOverflowOmit(3)
}

:global(.am-list-footer){ // listView footer 默认居中
    text-align: center;
}
:global(.am-list-view-scrollview-content){ // listView 滚动部分 最大宽度
    max-width: 100%;
}
:global(.am-tabs-horizontal .am-tabs-pane-wrap-active){
    height: 100% !important;
}

:global(.rich_text_global){ // 富文本展示
    word-break: break-all;
    overflow-x: auto;
    img{
        width: 100%;
        height: auto;
    }
}

:global(.pl-8){
    padding-left: 8px;
}
:global(.pl-16){
    padding-left: 16px;
}
:global(.pt-8){
    padding-top: 8px;
}
:global(.pr-8){
    padding-right: 8px;
}
:global(.ml-8){
    margin-left: 8px;
}
:global(.mr-8){
    margin-right: 8px;
}
:global(.mb-8){
    margin-bottom: 8px;
}
:global(.mb-16){
    margin-bottom: 16px;
}
:global(.mt-16){
    margin-top: 16px;
}
:global(mt-8){
    margin-top: 8px;
}
:global(.fl){
    float: left;
}
:global(.fr){
    float: right;
}
:global(.overflow){
    overflow: hidden;
}
:global(.tc){
    text-align: center;
}
:global(.icon-check-circle) {
    font-size: 24px !important;
    }
:global(.uncheckedIcon){
    font-size: 28px !important;
    color: #f90;
    background: #fff;
}

:global(.ungoing){
    border:2px solid #ddd;
    width: 22px;
    height: 22px;
    display: inline-block;
    border-radius: 50%;
}
:global(.pointer){
    cursor: pointer;
}