@import '../../style/mixin.less';
.wrapper{
    height: 100%;
    display: flex;
    flex-direction: column;
    :global(#map_view){
        flex: 1;
    }
    &_info{
        padding: 10px 15px;
        .real1px(x, top);
        &_title{
            display: flex;
            .fontSize(title);
            &_pos{
                flex: 1;
                &_tip{
                    margin-left: 6px;
                    .fontSize(text);
                    color: @red;
                }
            }
        }
        &_address{
            .fontSize(text);
            color: @grey;
        }
        &_detail{
            display: flex;
            &_des{
                flex: 1;
                .fontSize(text);
                color: @grey;
            }
            &_go{
                align-self: flex-end;
            }
        }
    }
}