@import '../../style/mixin.less';
.personal{
    padding: 10px 15px;
    &_header{
        display: flex;
        .fontSize(title);
        &::before{
            content: '';
            width: 4px;
            margin-right: 10px;
            background-color: @red;
        }
    }
    &_body{
        margin-top: 10px;
        &_item{
            border-radius: 6px;
            width: 32%;
            img{
                border-radius: 6px;
            }
        }
    }
}